# Data Cleaning and Descriptive Statistics
## (US Educational Finances 1992 - 2016)

# Table of Contents
    1. Notebook Prep
    2. Missing Values
    3. Duplicates
    4. Mixed-Type Data
    5. Descriptive Statistics
    6. Export

### 1. Notebook Prep

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path

path = r'D:\Achievement 6'

In [3]:
# Import dataframe

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'State Finances.csv'))

In [4]:
# Rename columns

df.rename(columns = {'STATE':'state', 'YEAR':'year', 'ENROLL':'enrolled', 'TOTAL_REVENUE':'total_revenue', 'FEDERAL_REVENUE':'federal_revenue', 'STATE_REVENUE':'state_revenue', 'LOCAL_REVENUE':'local_revenue', 'TOTAL_EXPENDITURE':'total_expenditure', 'INSTRUCTION_EXPENDITURE':'instruction_expenditure', 'SUPPORT_SERVICES_EXPENDITURE':'support_services_expenditure', 'OTHER_EXPENDITURE':'other_expenditure', 'CAPITAL_OUTLAY_EXPENDITURE':'capital_outlay_expenditure'}, inplace = True)

In [5]:
# Get dimensions

df.shape

(1275, 12)

### 2. Missing Values

In [6]:
# Check null values

df.isnull().sum()

state                            0
year                             0
enrolled                        51
total_revenue                    0
federal_revenue                  0
state_revenue                    0
local_revenue                    0
total_expenditure                0
instruction_expenditure          0
support_services_expenditure     0
other_expenditure               51
capital_outlay_expenditure       0
dtype: int64

### 3. Duplicates

In [7]:
# Count duplicates

df.duplicated().sum()

0

No duplicates

### 4. Mixed-Type Data

In [8]:
# View data types

df.dtypes

state                            object
year                              int64
enrolled                        float64
total_revenue                     int64
federal_revenue                   int64
state_revenue                     int64
local_revenue                     int64
total_expenditure                 int64
instruction_expenditure           int64
support_services_expenditure      int64
other_expenditure               float64
capital_outlay_expenditure        int64
dtype: object

In [9]:
for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df[weird]) > 0:
        print(col)

No mixed-type data

### 5. Descriptive Statistics

In [10]:
df.describe()

,year,enrolled,total_revenue,federal_revenue,state_revenue,local_revenue,total_expenditure,instruction_expenditure,support_services_expenditure,other_expenditure,capital_outlay_expenditure
count,1275.000000,1.224000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.224000e+03,1.275000e+03
mean,2004.000000,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,9.034675e+05
std,7.213932,1.066514e+06,1.175962e+07,1.146992e+06,5.549735e+06,5.489562e+06,1.199279e+07,6.300569e+06,3.357214e+06,5.347893e+05,1.329473e+06
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,1.270800e+04
25%,1998.000000,2.645145e+05,2.189504e+06,1.899575e+05,1.165776e+06,7.151210e+05,2.170404e+06,1.171336e+06,6.380760e+05,1.034492e+05,1.815070e+05
50%,2004.000000,6.499335e+05,5.085826e+06,4.035480e+05,2.537754e+06,2.058996e+06,5.242672e+06,2.658253e+06,1.525471e+06,2.717040e+05,5.104280e+05
75%,2010.000000,1.010532e+06,1.084516e+07,8.279320e+05,5.055548e+06,4.755293e+06,1.074420e+07,5.561959e+06,3.222924e+06,5.172222e+05,9.661480e+05
max,2016.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,1.022366e+07

### 6. Export

In [11]:
# Export cleaned file

df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'finances_cleaned.csv'))