# Data Cleaning and Descriptive Statistics
## (US Births 2016 - 2021)

# Table of Contents
    1. Notebook Prep
    2. Missing Values
    3. Duplicates
    4. Mixed-Type Data
    5. Descriptive Statistics
    6. Export

### 1. Notebook Prep

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path

path = r'D:\Achievement 6'

In [3]:
# Import dataframe

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'US Births 2016-2021.csv'))

In [4]:
# Rename columns

df.rename(columns = {'State': 'state', 'State Abbreviation':'state_abbreviation', 'Year':'year', 'Gender':'gender', 'Education Level of Mother':'education_level', 'Education Level Code':'education_code', 'Number of Births':'number_of_births', 'Average Age of Mother (years)':'avg_mother_age', 'Average Birth Weight (g)':'avg_birth_weight_grams'}, inplace = True)

In [5]:
# Get dimensions

df.shape

(5496, 9)

### 2. Missing Values

In [6]:
# Check null values

df.isnull().sum()

state                     0
state_abbreviation        0
year                      0
gender                    0
education_level           0
education_code            0
number_of_births          0
avg_mother_age            0
avg_birth_weight_grams    0
dtype: int64

In [7]:
# Check values of each column

df['state'].value_counts()

Alabama                 108
Alaska                  108
New Hampshire           108
New Jersey              108
New Mexico              108
New York                108
North Carolina          108
North Dakota            108
Ohio                    108
Oklahoma                108
Oregon                  108
Pennsylvania            108
Rhode Island            108
South Carolina          108
South Dakota            108
Tennessee               108
Texas                   108
Utah                    108
Vermont                 108
Virginia                108
Washington              108
West Virginia           108
Wisconsin               108
Nevada                  108
Missouri                108
Mississippi             108
Idaho                   108
Arizona                 108
Arkansas                108
California              108
Colorado                108
Connecticut             108
Delaware                108
District of Columbia    108
Florida                 108
Georgia                 108
Hawaii                  108
Illinois                108
Indiana                 108
Iowa                    108
Kansas                  108
Kentucky                108
Louisiana               108
Maryland                108
Massachusetts           108
Michigan                108
Minnesota               108
Wyoming                 108
Maine                   105
Nebraska                104
Montana                 103
Name: state, dtype: int64

Missing rows for Maine, Nebraska, and Montana in certain years, but no blank values.

In [8]:
df['state_abbreviation'].value_counts()

AL    108
AK    108
NH    108
NJ    108
NM    108
NY    108
NC    108
ND    108
OH    108
OK    108
OR    108
PA    108
RI    108
SC    108
SD    108
TN    108
TX    108
UT    108
VT    108
VA    108
WA    108
WV    108
WI    108
NV    108
MO    108
MS    108
ID    108
AZ    108
AR    108
CA    108
CO    108
CT    108
DE    108
DC    108
FL    108
GA    108
HI    108
IL    108
IN    108
IA    108
KS    108
KY    108
LA    108
MD    108
MA    108
MI    108
MN    108
WY    108
ME    105
NE    104
MT    103
Name: state_abbreviation, dtype: int64

Missing abbreviations match missing states.

In [9]:
df['year'].value_counts()

2018    917
2019    917
2020    916
2021    916
2016    915
2017    915
Name: year, dtype: int64

In [10]:
df['gender'].value_counts()

M    2749
F    2747
Name: gender, dtype: int64

In [11]:
df['education_level'].value_counts()

8th grade or less                                                      612
9th through 12th grade with no diploma                                 612
High school graduate or GED completed                                  612
Some college credit, but not a degree                                  612
Associate degree (AA, AS)                                              612
Bachelor's degree (BA, AB, BS)                                         612
Master's degree (MA, MS, MEng, MEd, MSW, MBA)                          612
Doctorate (PhD, EdD) or Professional Degree (MD, DDS, DVM, LLB, JD)    612
Unknown or Not Stated                                                  600
Name: education_level, dtype: int64

The data is categorized and labeled in this column. The number of Unknown values does not reflect actual missing data.

In [12]:
df['education_code'].value_counts()

 1    612
 2    612
 3    612
 4    612
 5    612
 6    612
 7    612
 8    612
-9    600
Name: education_code, dtype: int64

In [13]:
df['number_of_births'].value_counts().sum()

5496

In [14]:
df['avg_mother_age'].value_counts().sum()

5496

In [15]:
df['avg_birth_weight_grams'].value_counts().sum()

5496

### 3. Duplicates

In [16]:
# Count duplicates

df.duplicated().sum()

0

No duplicates

### 4. Mixed-Type Data

In [17]:
# View data types

df.dtypes

state                      object
state_abbreviation         object
year                        int64
gender                     object
education_level            object
education_code              int64
number_of_births            int64
avg_mother_age            float64
avg_birth_weight_grams    float64
dtype: object

In [18]:
for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df[weird]) > 0:
        print(col)

No mixed-type data

### 5. Descriptive Statistics

In [20]:
df.describe()

,year,education_code,number_of_births,avg_mother_age,avg_birth_weight_grams
count,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000
mean,2018.500728,3.026201,4115.443959,29.552274,3250.887627
std,1.707554,4.733406,6687.036797,2.779735,114.456090
min,2016.000000,-9.000000,10.000000,23.100000,2451.900000
25%,2017.000000,2.000000,559.000000,27.500000,3182.200000
50%,2019.000000,4.000000,1692.000000,29.600000,3256.000000
75%,2020.000000,6.000000,5140.000000,31.800000,3330.825000
max,2021.000000,8.000000,59967.000000,35.500000,3585.700000

### 6. Export

In [21]:
# Export cleaned file

df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'births_cleaned.csv'))